/.vscode
/.cache
*.DS_Store
vgcore.*

/build
/CMakeFiles
/cmake-*
CMakeDoxy*
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

main
stats
gen
libcore.a
libkissat.a
libglucose.a

/generated-graphs*
rome_graphs*
/output-svgs*
/drawing_results*
*.svg
cnf_logs.txt
unit_clauses_logs.txt
test_results.csv
todo.txt